body
{
    font-family: monospace;
    color:crimson;
    background-size:cover;
}
#take_picture
{
border-width: 5px;
color: rgb(245, 0, 122);
border-radius: 10px;
border-color:rgb(255, 183, 0);
background-color:cyan;
font-family: monospace;
}